.bottom-content{
    height: 45rem;
   
}

.bottom-container-redo {
    max-width: 900px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    

    .left-bottom{
        width: 100%;
        max-width: 400px;
        text-align: center;

    }
    
    h1{
        font-size: 4rem;
    }

    .right-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 400px;
        // width: 100%;
        max-width: 400px;
        // text-align: center;
        // border: 1px solid blue;

        input{
            width: 25rem;
            height: 5rem;
            margin-bottom: 1rem;
            
        }

        .sign-up-button{
            font-size: 1.2rem;
            width: 10rem;
            height: 3rem;
            border: 1px darkgrey solid;
            border-radius: 5px;
            color: rgb(75, 74, 74);
        }
    }
}






