

.bottom-container-redo {
    max-width: 900px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12rem;
    margin-bottom: 12rem;
    // border: 1px solid red;

    @media (max-width: 500px){
        flex-direction: column;
        width:  100%;
    }
    

    .left-bottom{
        width: 100%;
        max-width: 450px;
        text-align: center;

        @media (max-width: 500px){
            margin-bottom: 5rem;
        }

    }
    
    h1{
        font-size: 4rem;
    }

    .right-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 400px;
        // width: 100%;
        max-width: 450px;
        // text-align: center;
        // border: 1px solid blue;

        input{
            width: 25rem;
            height: 5rem;
            margin-bottom: 1rem;

            @media (max-width: 500px){
                width: 20rem;
            }
            
        }

        .sign-up-button{
            font-size: 1.2rem;
            width: 10rem;
            height: 3rem;
            border: 1px darkgrey solid;
            border-radius: 5px;
            color: rgb(75, 74, 74);
        }
    }
}






