footer {
    height: 4rem;
    margin: 0 auto;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    
    @media @mobile {
        width: 100%;
    }
    
    .footer-links{
        max-width: 800px;
        margin: 0 auto;
    }
}
