@import 'reset.less';
@import 'navbar.less';  
@import 'topcontent.less';
@import 'middlecontent.less';
@import 'bottomcontent.less';
@import 'footer.less';
@import 'middlecontentbottom.less';
@import 'login.less';
@import 'mobilelogin.less';
@import 'about.less';
@import 'howitworks.less';

body {
    font-family: 'Comfortaa', cursive;
    font-size: 2rem;

    @media (max-width: 500px){
        width: 100%;
    }
}

