@import 'reset.less';
@import 'variables.less';
@import 'navbar.less';  
@import 'mobilenav.less';
@import 'topcontent.less';
@import 'middlecontent.less';
@import 'bottomcontent.less';
@import 'footer.less';
@import 'middlecontentbottom.less';
@import 'login.less';
@import 'mobilelogin.less';
@import 'about.less';
@import 'howitworks.less';
@import 'premium.less';

body {
    font-family: 'Comfortaa', cursive;
    font-size: 2rem;

    @media @mobile {
        width: 100%;
    }
}

