.middle-content {
    height: 55rem;
    background-color: rgb(243, 243, 243)
}

.middle-container{
    margin: 0 auto;
    width: 950px;
    max-width: 950px;
    // border: 1px red solid;
    height: 55rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    display: flex;
}

.left-side{
    width: 400px;
    max-width: 400px;
}

.right-side {
    width: 100%;
    max-width: 450px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .image-container{
        width: 125px;
        padding-top: 1rem;
    
    }

    img {
        height: auto;
        width: 100%;
    }


}