.middle-content-bottom {
    background-image: linear-gradient(to right , @primary, @secondary);
}

.middle-container-1{
    margin: 0 auto;
    max-width: 950px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding-top: 9rem;
    padding-bottom: 9rem;

    @media @mobile {
        flex-direction: column;
    }
}

.left-side{
    max-width: 450px;
    @media @mobile {
        margin-bottom: 4rem;
    }

    h2{
        font-size: 4rem;
            color: @white;
            margin-bottom: 1rem;
            padding: 1rem;
    }

    p {
        font-size: 1.8rem;
            color: @white;
            padding: 1.5rem;
    }

}

.right-side {
    width: 100%;
    max-width: 450px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .image-container{
        width: 125px;
        padding-top: 1rem;
        transition: 0.2s ease-in-out;
        opacity: 0.9;
        filter: grayscale(40%);
        @media @mobile {
            width: 100px;
        }

        &:hover{
            filter: grayscale(0%);
            transition: 0.2s ease-in-out;
        }
    }

    img {
        height: auto;
        width: 100%;
    }
}



