
.middle-content, .bottom-content{
    height: 55rem;
   
}


.bottom-content {
    background-image: linear-gradient(to right , #274046, #E6DADA );

}

footer {
    height: 10rem;
    border: 1px solid red;
    h1{
    margin-top: 4rem;
    text-align: center;
    }
}